<div class="container d-flex flex-column justify-content-center align-items-center index">
  <img id="beer-glass" class="m-5" src="/images/beer.png" alt="a nice and cold beer">
  <button id="get-beers" class="btn btn-primary m-3 shadow btn-bgc">Check the Beers</button>
  <button id="get-random-beer" class="btn btn-primary m-3 shadow btn-bgc">Check a random Beer</button>
</div>