<div class="container d-flex flex-column justify-content-center align-items-center">
  <img class="m-5" src="/images/beer.png" alt="a nice and cold beer">
  <button class="btn btn-primary m-3 shadow btn-bgc">Check the Beers</button>
  <button class="btn btn-primary m-3 shadow btn-bgc">Check a random Beer</button>
</div>