<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/styles.css">
</head>

<body>
  <nav class="container-full-width shadow">
    <div class="nav-links">
      <a href="/" class="nav-item">Home</a>
      <a href="/beers" class="nav-item">Beers</a>
      <a href="/random-beers" class="nav-item">Random Beer</a>
    </div>
  </nav>
  <main>
    {{{body}}}
  </main>
</body>

<footer><div class="footer-content">Developed by Andre Wittwer for IRONHACK LISBOA</div></footer>

</html>