
<div class="beer-informations-container">
{{#each myBeers}}
<div class="beer-information">
     <img class="beer-information_img" src={{this.image_url}}>
    <h2 class="beer-information-name">{{this.name}}</h1>
    <h3 class="beer-information__tagline">{{this.tagline}}</h6>
    <p class="beer-information_description">{{this.description}}</p>
</div>
 {{/each}}
</div>





    
