<div class="beers-container">
{{#each beers}}
<div class="card">
    <img src="{{image_url}}">
    <h1 class="beer-name">{{name}}</h1>
    <span class="tagline">{{tagline}}</span>
    <p class="desc">{{description}}</p>
</div>
{{/each}}
</div>