<div class="index-container">
<div>
    {{#each myBeers}}
    <img src={{this.image_url}}>
    <h1>{{this.name}}</h1>
    <h6>{{this.tagline}}</h6>
    <p>{{this.description}}</p>
</div>
 {{/each}}
</div>



    
