 <div class="index-container">
     <img class="beer-home-img" src="/images/beer.png">
    <a class="button" href="/beers">Check the Beers</a>
    <a class="button button--green" href="/random-beers">Check a Random Beer</a>
 </div>