<div class="index-container">
  <img src="../images/beer.png" alt="beer!"height="200px">
  <br>
  <button><a href="/beers">Check the Beers!</a></button>
  <br>
  <button><a href="/random">Check a Random Beer!</a></button>
</div>