<div class="index-container">
  

<img src="../images/beer.png" alt="beer image" class="img-cartoon-beer">

<a href="" class="btn-beers">Check the Beers!</a>
<a href="" class="btn-beers">Check a Random Beer</a>

</div>