<div class="index-container container d-flex flex-column align-items-center justify-content-center">
  <img src="/images/beer.png" alt="Welcome Beer">
  <button class="btn btn-primary">Check the beers!</button>
  <button class="btn btn-primary">Check a random beer!</button>
</div>