<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/styles.css"></link>
  </head>
  <body>
    <nav>
        <a href="/">Home</a>
        <a href="/beers">Beers</a>
        <a href="/random-beers">Random Beer</a>
    </nav>
  <section>
   {{{body}}}
  </section>
  </body>
</html>