<div class="randombeers-container">
<div class="random-card">
    <img src="{{random.image_url}}">
    <h1 class="beer-name">{{random.name}}</h1>
    <span class="tagline">{{random.tagline}}</span>
    <p class="desc">{{random.description}}</p>
</div>
</div>